<%= render 'shared/header', title: "@#{@user.username}" %>

<% @user.statuses.each do |status| %>
  <ul>
    <li><%= status.body %> at <%= display_datetime(status.created_at) %></li>
  </ul>
<% end %>